---
layout: page
titles:
  # @start locale config
  en      : &EN       Archive
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       아카이브
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Arşivdekiler
  # @end locale config
---

<div class="layout--archive js-all">
  {%- assign all_posts = site.posts | concat: site.physics | concat: site.animation | sort: 'date' | reverse -%}
  
  <!-- Create arrays for each collection's tags -->
  {%- assign physics_tags = "" | split: "" -%}
  {%- assign animation_tags = "" | split: "" -%}
  
  <!-- Collect physics tags -->
  {%- for post in site.physics -%}
    {%- assign physics_tags = physics_tags | concat: post.tags -%}
  {%- endfor -%}
  {%- assign physics_tags = physics_tags | uniq | sort -%}
  
  <!-- Collect animation tags -->
  {%- for post in site.animation -%}
    {%- assign animation_tags = animation_tags | concat: post.tags -%}
  {%- endfor -%}
  {%- assign animation_tags = animation_tags | uniq | sort -%}
  
  <!-- Display physics tags -->
  <div class="archive__group">
    <h3>Physics Tags:</h3>
    {%- for tag in physics_tags -%}
      {%- assign tag_posts = site.physics | where: "tags", tag -%}
      <button type="button" class="button button--secondary button--pill tag tag-physics" data-encode="{{ tag | strip | url_encode }}" data-tag="{{ tag | strip }}">
        {{ tag | strip }} <div class="tag__count">{{ tag_posts.size }}</div>
      </button>
    {%- endfor -%}
  </div>
  
  <!-- Display animation tags -->
  <div class="archive__group">
    <h3>Animation Tags:</h3>
    {%- for tag in animation_tags -%}
      {%- assign tag_posts = site.animation | where: "tags", tag -%}
      <button type="button" class="button button--secondary button--pill tag tag-animation" data-encode="{{ tag | strip | url_encode }}" data-tag="{{ tag | strip }}">
        {{ tag | strip }} <div class="tag__count">{{ tag_posts.size }}</div>
      </button>
    {%- endfor -%}
  </div>
  
  <!-- Display all posts -->
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=all_posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
