---
layout: page
titles:
  # @start locale config
  en      : &EN       Archive
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       아카이브
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Arşivdekiler
  # @end locale config
---

<div class="layout--archive js-all">
  {%- assign all_posts = site.posts | concat: site.physics | concat: site.animation | sort: 'date' | reverse -%}
  {%- assign all_tags = "" | split: "" -%}
  {%- for post in all_posts -%}
    {%- assign all_tags = all_tags | concat: post.tags -%}
  {%- endfor -%}
  {%- assign all_tags = all_tags | uniq | sort -%}
  {%- assign _tag_max_size = 1.0 -%}
  {%- assign _tag_min_size = 1.0 -%}
  {%- for tag in all_tags -%}
    {%- assign _tag_cur_size = all_posts | where_exp: "post", "post.tags contains tag" | size -%}
    {%- if _tag_cur_size > _tag_max_size -%}
      {%- assign _tag_max_size = _tag_cur_size -%}
    {%- endif -%}
    {%- if _tag_cur_size < _tag_min_size -%}
      {%- assign _tag_min_size = _tag_cur_size -%}
    {%- endif -%}
  {%- endfor -%}
  {%- assign _tag_range = _tag_max_size | minus: _tag_min_size | plus: 1 -%}
  
  <div class="site-tags js-tags">
    <button type="button" class="button button--secondary button--pill tag-button" data-encode="">
      Show All<div class="tag__count">{{ all_posts | size }}</div>
    </button>
    {%- for tag in all_tags -%}
      {%- assign _tag_cur_size = all_posts | where_exp: "post", "post.tags contains tag" | size -%}
      {%- assign _tag_size_ratio = _tag_cur_size | minus: _tag_min_size | divided_by: _tag_range -%}
      <button type="button" class="button button--pill tag-button" data-encode="{{ tag | strip | url_encode }}" data-tag="{{ tag | strip }}">
        {{ tag | strip }} <div class="tag__count">{{ _tag_cur_size }}</div>
      </button>
    {%- endfor -%}
  </div>
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=all_posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
